<footer class="footer">
    <div class="container">            
    <div class="logo-container">
        <a href="#" class="logo-footer">LOGO</a>
        <p class="text-footer">
        Increase the flow of customers and sales for your business with digital marketing and growth solutions.
        </p>
    </div>
    <div class="social-container">
        <h3 class="title-footer">Social media</h3>
        <ul class="social-list">
            <li class="social-item">
                <a href="#" class="social-link">
                    <svg class="social-icon" width="24" height="24">
                        <use href="#"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a href="#" class="social-link">
                    <svg class="social-icon" width="24" height="24">
                        <use href="#"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a href="#" class="social-link">
                    <svg class="social-icon" width="24" height="24">
                        <use href="#"></use>
                    </svg>
                </a>
            </li>
            <li class="social-item">
                <a href="#" class="social-link">
                    <svg class="social-icon" width="24" height="24">
                        <use href="#"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>>            
    </div>          
</footer> 